*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tutte le altezze inserite per creare il layout dovranno essere tolte (tranne quelle fisse es. header */

.container{
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
}


header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 50px;
  border: 1px solid black;
}
  

header .content-header{
  display: flex;
  justify-content: space-between;
}

header .logo{
  width: 50px;
  height: 50px;   
  background-color: blue;
}

header .menu{
  width: 200px;
  height: 50px;  
  background-color: green;
}

header .button-accedi{
  width: 50px;
  height: 50px;  
  background-color: greenyellow;
  color: black;
}


main .jumbotron{
  height: 550px;
  background-color: red;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
  


main .jumbotron .content-jumbotron{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 330px;
  background-color: blueviolet;
}

.content-jumbotron .text-jumbotron{
  width: 700px;
  height: 250px;
  background-color: black;
  
}

.content-jumbotron .button-jumbotron{
  display: flex;
  padding: 10px;
  gap: 10px;
}
  

.content-jumbotron .button-jumbotron-1, .button-jumbotron-2{
  width: 150px;
  height: 50px;
  background-color: brown;
  border: 1px solid black;
}